<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>

    <style>

        body 
        {
            background-color:black;
           color:white;
        }
    </style>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body style="background-color:#ff80bf">



    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">

                        <a class="navbar-brand" href="~/Home">Your Ticket </a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Add Ticket", "AddTicket", "Home")</li>

                    </ul>
                </div>
            </nav>


            <div style="min-height:500px">

                <div class="col-md-12">


                    @RenderBody()


                </div>
            </div>

        </div>







        <footer class="jumbotron">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>



    </div>
    <script src="~/Scripts/jquery-2.2.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>


</html>
